{
	"directories": {
		"BotInput": "D:\\Repositories\\Stream-Resources\\Bot Input",
		"BotOutput": "D:\\Repositories\\Stream-Resources\\Bot Output",
		"Trains": "D:\\Repositories\\Stream-Resources\\Images\\Train\\Trains",
		"Colors": "D:\\Repositories\\Stream-Resources\\Bot Input\\Colors",
		"ColorSchemes": "D:\\Repositories\\Stream-Resources\\Bot Input\\ColorSchemes"
	}
}
