{
	"obs": {
		"socketPassword": "abcdABCD1234aA1b"
	},
	"twitchAuth": {
		"accessToken": "1234567890abcdefghijklmnopqrst",
		"refreshToken": "zyxwvutsrqponmlkjihgfedcba0987654321zyxwvutsrqponm",
		"clientId": "abcdefghijklmnopqrstuvwxyz1234"
	},
	"twitchIds": {
		"broadcasterId": "12345678",
		"moderatorId": "12345678",
		"userId": "12345678",
		"testBroadcasterId": "98765432"
	},
	"streamElements": {
		"channelId": "0123456789abcdef01234567",
		"jwt": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.abcdefghijklmnopqrstuvwxyz.0123456789abcdefghijklmnopqrstuvwxyz"
	},
	"twitchTestNames": {
		"username": 98765432,
		"_trailingComma": 0
	}
}
