{
	"directories": {
		"Trains": "D:\\Repositories\\Stream-Resources\\Images\\Train\\Trains",
		"Colors": "D:\\Repositories\\Stream-Resources\\Input\\Bot\\Colors",
		"ColorSchemes": "D:\\Repositories\\Stream-Resources\\Input\\Bot\\ColorSchemes"
	},
	"obs": {
		"socketPassword": "abcdABCD1234aA1b"
	},
	"twitch_auth": {
		"accessToken": "1234567890abcdefghijklmnopqrst",
		"refreshToken": "zyxwvutsrqponmlkjihgfedcba0987654321zyxwvutsrqponm",
		"clientId": "abcdefghijklmnopqrstuvwxyz1234"
	},
	"twitch_ids": {
		"broadcasterId": "12345678",
		"moderatorId": "12345678",
		"userId": "12345678",
		"testBroadcasterId": "98765432"
	},
	"twitch_testNames": {
		"username": 98765432,
		"_trailingComma": 0
	}
}


