{
	"obs": {
		"socketPassword": "abcdABCD1234aA1b"
	},
	"twitchAuth": {
		"accessToken": "1234567890abcdefghijklmnopqrst",
		"refreshToken": "zyxwvutsrqponmlkjihgfedcba0987654321zyxwvutsrqponm",
		"clientId": "abcdefghijklmnopqrstuvwxyz1234"
	},
	"twitchIds": {
		"broadcasterId": "12345678",
		"moderatorId": "12345678",
		"userId": "12345678",
		"testBroadcasterId": "98765432"
	},
	"twitchTestNames": {
		"username": 98765432,
		"_trailingComma": 0
	}
}
